<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en" />
  <meta name="viewport" content="width=device-width,initial-scale=1,target-densitydpi=device-dpi" />

  <title>Cation Language</title>
  <link rel="stylesheet" href="/fonts.css">
  <link rel="stylesheet" href="/front.css">

  <!-- Math rendering -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>

  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta http-equiv="pragma" content="no-cache">

  {% block social_media %} {% endblock %}
</head>

<body>
<nav>
  <a id="logo" href="/">
    <img alt="Logo" src="/logo/cation.svg">
  </a>
  <ol>
    <li><a href="/">Cation Language</a></li>
    {% block breadcrumbs %} {% endblock %}
  </ol>

  <ul>
    <li><a href="/design">Design</a></li>
    <li>|</li>
    <li><a href="/reference">Reference</a></li>
    <li>|</li>
    <li><a href="/examples">Examples</a></li>
    <li>|</li>
    <li><a href="/try">Try</a></li>
    <!-- li>|</li>
    <li><a href="/community">Community</a></li -->
  </ul>
</nav>

<main>
  {% block content %} {% endblock %}
</main>

<footer>
  <p>
    Created &amp; maintained by <a href="https://www.ubideco.org">UBIDECO Labs</a><br/>
    See a bug? <a href="https://github.com/UBIDECO/cation-lang.org/issues/new">File an issue!</a>
  </p>
  <div>
    <a href="https://twitter.com/lnp_bp"><img src="/social/twitter.svg" alt="twitter logo" title="Twitter"></a>
    <a href="https://t.me/cation_lang"><img src="/social/telegram.svg" alt="telegram logo" title="Telegram"></a>
    <a href="https://github.com/UBIDECO/cation-lang"><img src="/social/github.svg" alt="github logo" title="GitHub"></a>
  </div>
  <p>We do not use cookies or any other tracking technology on visitors to this site</p>
</footer>

</body>
</html>
