{% extends "base.html" %}

{% block social_media %}
    <meta name="description" content="{{ section.description }}">

    <meta property="og:title" content="Cation Language" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://cation-lang.org/logo/cation.png" />
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:description" content="{{ section.description }}">
    <meta property="og:site_name" content="Cation Language">

    <meta name="twitter:site" content="@ubideco">
{% endblock social_media %}

{% block content %}
<article class="contents">
    {{ section.content | safe }}
</article>
{% endblock content %}
